$primaryColor: #254159; 
$secondaryColor: #F4C27F;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont: "Archivo", serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;
$leading: 150%;

$gutter: 10px;